<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies & Goals</title>
    <link rel="stylesheet" href="/style/style.css"> <!-- Adjust the path based on your project structure -->
</head>
<body>
    <section class="bigbox">
        <h2>Hobbies</h2>
        <p>I enjoy <span style="color: #cc99ff;">coding</span> just as if it was a hobby! <br>
            I love <span style="color: #cc99ff;">sports</span>, mostly basketball and chess <br>
            Meeting people to <span style="color: #cc99ff;">collaborate on projects</span> is part of myself
        </p>
    </section>
</body>
</html>
