<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Butcher</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div class="portfolio-container">
        <section class="box about-me">
            <h2>About Me</h2>
            <p style="color: #fff;">I'm a passionate <b style="color: #01ffa2;">Trainee Full-stack programmer</b>
                from Argentina <br> <br>
                I love to learn new things! And I am pretty good at it
            </p>
        </section>

        <section class="box age">
            <h2>Age</h2>
            <p>My actual age is <b>17</b>, and I birth on October 27th</p>
        </section>

        <section class="box education">
            <h2>Education</h2>
            <p> <b>2011 - 2017 |</b> Elementary school <span>Calvario</span> <br> <br>
                <b>2018 - 2024 |</b> High school <span>ProA La Falda</span>
            </p>
        </section>

        <a class="box tools" href="/tools">
        <section>
            <h2>Tools</h2>
            <i class="fa-solid fa-arrow-turn-up top-right"></i>
                <ul class="grid-logos">
                <li><i class="fa-brands fa-html5 fa-2x logos" style="color: #e34c26;"></i></li>
                <li><i class="fa-brands fa-css3-alt fa-2x logos" style="color: #264de4;"></i></li>
                <li><i class="fa-brands fa-bootstrap fa-2x logos" style="color: #602C50;"></i></li>
                <li><i class="fa-brands fa-square-js fa-2x logos" style="color: #f0db4f;"></i></li>
                <li><i class="fa-brands fa-node-js fa-2x logos" style="color: #3C873A;"></i></li>
                <li><i class="fa-solid fa-circle-nodes fa-2x logos" style="color: rgb(21, 21, 21);"></i></li>
                <li><i class="fa-brands fa-git-alt fa-2x logos" style="color: #F1502F;"></i></li>
                <li><i class="fa-brands fa-python fa-2x logos" style="color: #4B8BBE;"></i></li>
                <li><i class="fa-brands fa-figma fa-2x logos" style="color: #1b1b1b;"></i></li>
            </ul>
            <h3 style="text-align: center; margin-top: 4%;">+</h3>
        </section></a>

        <a href="https://github.com/IanButcher" target="_blank">
            <section class="box small" style="background-color: #24292e;">
                <i class="fa-brands fa-github fa-7x"></i>
            </section>
        </a>

        <a href="https://discordapp.com/users/1108860836958711919" target="_blank"> 
            <section class="box small" style="background-color: #5865F2;">
                <i class="fa-brands fa-discord fa-6x"></i>
            </section>
        </a>

        <a href="https://www.linkedin.com/in/ian-butcher-148a1a28a" target="_blank">
            <section class="box small" style="background-color: #0077b5;">
                <i class="fa-brands fa-linkedin fa-7x"></i>
            </section>
        </a>

        <a href="https://twitter.com/clay_xf" target="_blank">
            <section class="box small" style="background-color: #00001f;">
                <i class="fa-brands fa-x-twitter fa-7x"></i>
            </section>
        </a>

        <a href="/courses" class="box projects">
            <section>
                <h2>Projects</h2>
                <p style="color: #000000;">2023 | Argentina CANSAT <br>
                    2018 | CUBESAT <br>
                    2023 | Reverse Shell <br>
                    And looking forward to more!
                </p>
                <p style="text-align: center; margin-top: 10%;"><i class="fa-solid fa-folder-open fa-7x"></i></p>
        </section> </a>

        <a href="mailto:iancorradibutcher@gmail.com">
            <section class="box small" style="background-color: #f65757;">
                <i class="fa-solid fa-envelope fa-7x"></i>
            </section>
        </a>

        <section class="box goals">
            <h2>Goals</h2>
            <p style="color: #fff;">My main goal is to <span style="color: #66ccff;">boost up </span>your projects! <br> <br>
                I also want to be a DevOps (I'm getting there)
            </p>
        </section>

        <a href="/courses" class="box courses">
            <section>
                <h2>Courses</h2>
                <p style="color: #fff;">2023 was the year I focused on courses the most, so I've done those <br>
                    Full-Stack Developer (by ISPC) <br>
                    The web developer boot camp (Udemy) <br>
                    The scrum course (by ScrumStudy) <br>
                    <span style="color: #66ff99;">And more +!</span>
                </p>
        </section></a>

        <a href="/courses" class="box hobbies">
            <section>
                <h2>Hobbies</h2>
                <p>I enjoy <span style="color: #a96ae9;">coding</span> just as if it was a hobby! <br>
                    I love <span style="color: #a96ae9;">sports</span>, mostly basketball and chess <br>
                    Meeting people to <span style="color: #a96ae9;">collaborate on projects</span> is part of myself
                </p>
        </section></a>

        <section class="box night-mode">
            <% if (nightMode == false) { %>
                <p style="text-align: center;"><i class="fa-solid fa-moon fa-2x"></i></p>
            <% } else { %>
                <p style="text-align: center;"><i class="fa-solid fa-sun fa-2x"></i></p>
            <% } %>
        </section>
        
        <script src="index.js"></script>
        
        <script>
            const nightModeBox = document.querySelector('section.box.night-mode');
            let nightMode = false;
        
            nightModeBox.addEventListener('click', () => {
                nightMode = !nightMode;
                document.body.classList.toggle('night-mode', nightMode);
                updateIcon();
            });
        
            function updateIcon() {
                const icon = nightModeBox.querySelector('i');
                if (nightMode) {
                    icon.className = 'fa-solid fa-sun fa-2x';
                } else {
                    icon.className = 'fa-solid fa-moon fa-2x';
                }
            }
        
            // Initial icon update
            updateIcon();
        </script>
        

</body>
</html>
