<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ian Butcher</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
    <div class="row">
        <div class="col-4">
            <nav id="navbar-example3" class="h-100 flex-column align-items-stretch pe-4 border-end">
                <nav class="nav nav-pills flex-column">
                    <a class="nav-link" href="#item-1">About Me</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-1-1">Hobbies</a>
                        <a class="nav-link ms-3 my-1" href="#item-1-2">Skills</a>
                    </nav>
                    <a class="nav-link" href="#item-2">Education</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-2-1">Formal</a>
                        <a class="nav-link ms-3 my-1" href="#item-2-2">Courses</a>
                    </nav>
                    <a class="nav-link" href="#item-3">Tools</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-3-1">Front End</a>
                        <a class="nav-link ms-3 my-1" href="#item-3-2">Backend</a>
                    </nav>
                    <a class="nav-link" href="#item-4">Projects & Experience</a>
                    <nav class="nav nav-pills flex-column">
                        <a class="nav-link ms-3 my-1" href="#item-4-1">School Projects</a>
                        <a class="nav-link ms-3 my-1" href="#item-4-2">Personal Projects</a>
                        <a class="nav-link ms-3 my-1" href="#item-4-3">Experience</a>
                    </nav>
                </nav>
            </nav>
        </div>







        <div class="col-8">
            <div data-bs-spy="scroll" data-bs-target="#navbar-example3" data-bs-smooth-scroll="true" class="scrollspy-example-2" tabindex="0">
                <div id="item-1">
                    <h4>About Me</h4>
                    <div class="post">
                        <div class="post-content">
                            <h5>Introduction</h5>
                            <p>This is what im interested about!
                                You'll find hobbies, skills, location, goals, etc.
                            </p>
                        </div>
                    </div>
                </div>
                <div id="item-1-1">
                    <h5>Hobbies</h5>
                    <a href="/hobbies">
                        <div class="post">
                            <div class="post-content">
                                <h5>Hobbies and Goals</h5>
                                <p>What I like and would like to be!</p>
                            </div>
                            <div class="post-info"> 15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-1-2">
                    <h5>Skills</h5>
                    <a href="/skills">
                        <div class="post">
                            <div class="post-content">
                                <h5>My Skills</h5>
                                <p>Actitudes, languages, and more!</p>
                            </div>
                            <div class="post-info"> 15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-2">
                    <h4>Education</h4>
                    <div class="post">
                        <div class="post-content">
                            <h5>Introduction</h5>
                            <p>In this section you'll find my stuides
                                It includes both formal (such as High School, Elementary School, etc)
                                and courses I did!
                            </p>
                        </div>
                    </div>
                </div>
                <div id="item-2-1">
                    <h5>Formal Education</h5>
                    <a href="/formalstudies">
                        <div class="post">
                            <div class="post-content">
                                <h5>Professional education</h5>
                                <p>Elementary and high schools I've been</p>
                            </div>
                            <div class="post-info">15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-2-2">
                    <h5>Other Education</h5>
                    <a href="/courses">
                        <div class="post">
                            <div class="post-content">
                                <h5>Courses</h5>
                                <p>Courses from my country, udemy or colleges</p>
                            </div>
                            <div class="post-info">15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-3">
                    <h4>Tools</h4>
                    <div class="post">
                        <div class="post-content">
                            <h5>Introduction</h5>
                            <p>The tools I know or I work with!</p>
                        </div>
                    </div>
                </div>
                <div id="item-3-1">
                    <h5>Front-End</h5>
                    <a href="/frontendtools">
                        <div class="post">
                            <div class="post-content">
                                <h5>Frontend Tools</h5>
                                <p>The tools I use for front-end development</p>
                            </div>
                            <div class="post-info">15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-3-2">
                    <h5>Back-End</h5>
                    <a href="/backendtools">
                        <div class="post">
                            <div class="post-content">
                                <h5>Backend Tools</h5>
                                <p>The tools I use for back-end and db development</p>
                            </div>
                            <div class="post-info">15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
                <div id="item-4">
                    <h4>Projects & Experience</h4>
                    <div class="post">
                        <div class="post-content">
                            <h5>Introduction</h5>
                            <p>Projects I've done or participated in!
                                (including both school and personal projects)
                                My working experience too!
                            </p>
                        </div>
                    </div>
                </div>
                <div id="item-4-1">
                    <h5>School Projects</h5>
                    <a href="/schoolprojects">
                        <div class="post">
                            <div class="post-content">
                                <h5>School Projects</h5>
                                <p>The most interesting things I've developed in school</p>
                            </div>
                            <div class="post-info">15 upvotes | 5 comments</div>
                        </div>
                    </a>
                </div>
            </div>
            <div id="item-4-2">
                <h5>Personal Projects</h5>
                <a href="/personalprojects">
                    <div class="post">
                        <div class="post-content">
                            <h5>My Projects</h5>
                            <p>The things I've developed myself!</p>
                        </div>
                        <div class="post-info">15 upvotes | 5 comments</div>
                    </div>
                </a>
            </div>
            <div id="item-4-3">
                <h5>Experience</h5>
                <a href="/experience">
                    <div class="post">
                        <div class="post-content">
                            <h5>My working experience</h5>
                            <p>Jobs I have had!</p>
                        </div>
                        <div class="post-info">15 upvotes | 5 comments</div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</body>
</html>
